@model PreferencesModel

@{
    ViewBag.Title = "PreferencesWithPagination History";
    Layout = "_Layout";
}

<h2 class="text-center">PreferencesWithPagination History</h2>

@if (Model?.PreferencesWithPagination == null || Model.PreferencesWithPagination.TotalItems == 0)
{
    <div class="alert alert-primary" role="alert">
        This is no preferences history ...
    </div>
}
else
{
    var remainingPageItems = PreferencesModel.DefaultMaximumPagesDisplayed;
    <div class="container-fluid">
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.PreferencesWithPagination.Page > 1 ? "" : "disabled")">
                        <form asp-action="Search" method="get">
                            <input type="hidden" asp-for="SearchCriteria.RequestedPage" value="@(Model.PreferencesWithPagination.Page - 1)" />
                            <button class="page-link" type="submit" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </button>
                        </form>
                    </li>
                    @for (var j = remainingPageItems - (Model.PreferencesWithPagination.TotalPages - Model.PreferencesWithPagination.Page + 1); j > 0; j--)
                    {
                        var pageNumber = Model.PreferencesWithPagination.Page - j;
                        <li class="page-item">
                            <form asp-action="Search" method="get">
                                <input type="hidden" asp-for="SearchCriteria.RequestedPage" value="@pageNumber" />
                                <button class="page-link" type="submit">@pageNumber</button>
                            </form>
                        </li>
                        remainingPageItems--;
                    }

                    @for (var i = Model.PreferencesWithPagination.Page; i <= Model.PreferencesWithPagination.TotalPages && remainingPageItems > 0; i++)
                    {
                        <li class="page-item @(i == Model.PreferencesWithPagination.Page ? "active" : "")">
                            <form asp-action="Search" method="get">
                                <input type="hidden" asp-for="SearchCriteria.RequestedPage" value="@i" />
                                <button class="page-link" type="submit">@i</button>
                            </form>
                        </li>
                        remainingPageItems--;
                    }

                    <li class="page-item @(Model.PreferencesWithPagination.Page < Model.PreferencesWithPagination.TotalPages ? "" : "disabled")">
                        <form asp-action="Search" method="get">
                            <input type="hidden" asp-for="SearchCriteria.RequestedPage" value="@(Model.PreferencesWithPagination.Page + 1)" />
                            <button class="page-link" type="submit" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            @foreach (var preference in Model.PreferencesWithPagination.ItemsAtCurrentPage)
            {
                var base64 = Convert.ToBase64String(preference.PictureBytes);
                var imgSrc = $"data:image/gif;base64, {base64}";
                <div class="col-sm-3 mb-2">
                    <div class="card">
                        <img class="img-fluid" src="@imgSrc" alt="Card image cap">
                        <div class="card-body text-center">
                            @if (preference.IsLiked)
                            {
                                <i style="color: red" class="fa fa-heart fa-3x"></i>
                            }
                            else
                            {
                                <i class="fa fa-times fa-3x"></i>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}